.hearts {
    display: inline-block;
    height: 16px;
}

.heart {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
}

.filled {
    background-image: url('about/heartfull.png'); /* Full heart */
}

.empty {
    background-image: url('about/heartempty.png'); /* Empty heart */
}
